@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Paytone+One&family=Poppins:wght@400;500;600;700&family=Roboto+Serif:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Paytone One", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Serif", serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}